# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DES_teste\nossobanco\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
